
  <section class="row  bg-white ">
   <section class=" col-12 d-flex flex-row justify-content-between align-items-center  ">
     <h3 class=" app-text fw-light">{{this.isUpdateForm ? "Update Project": "Create Project"}}</h3>
     <mat-icon class="app-text">update</mat-icon>
   </section>
 </section>
 <section class="row  bg-white p-2 ">
  <mat-form-field  class="col-md-3 col-12" appearance="fill">
    <mat-label>Name <i class="bi bi-person"></i></mat-label>
    <input [(ngModel)]="project.projectName"  matInput>
    <mat-hint>Enter the project name .</mat-hint>
  </mat-form-field>
  <mat-form-field  class="col-md-6 col-12" appearance="fill">
    <mat-label>Description <i class="bi bi-person"></i></mat-label>
    <textarea [(ngModel)]="project.projectDescription"  matInput></textarea>
    <mat-hint>Enter the project description.</mat-hint>
  </mat-form-field>
    <mat-form-field  class="col-md-6 col-12" appearance="fill">
      <mat-label>Cost <i class="bi bi-person"></i></mat-label>
      <input type="number" min="1.00" step="0.01" [(ngModel)]="project.cost"  matInput/>
      <mat-hint>Enter the project estimated cost.</mat-hint>
    </mat-form-field>
    <div class="col-md-6 col-12 form-group">
      <label >File Upload <i class="bi-upload"></i></label>
      <input type="file"(change)="onFileChange($event)" [(ngModel)]="this.filePath" class="form-control" [id]="project.id+'file_upload'"  accept="application/pdf"/>
      <span class="form-text">Upload the supporting PDF document</span>
      <span class="text-warning"></span>
    </div>
    <mat-form-field  class="col-md-3 col-12" appearance="fill">
      <mat-label>Choose a start date</mat-label>
      <input [(ngModel)]="project.startDate" matInput [matDatepicker]="pickerStart">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field  class="col-md-3 col-12" appearance="fill">
      <mat-label>Choose a end date</mat-label>
      <input  [(ngModel)]="project.endDate" matInput [matDatepicker]="pickerEnd">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    <section class="col-3 d-flex justify-content-center align-items-center" *ngIf="isUpdateForm">
      <mat-checkbox >Suspend Project</mat-checkbox>
    </section>
   <section *ngIf="operationInProgress" class="d-flex flex-row justify-content-center align-items-center p-2">
     <span>Updating</span>
     <mat-spinner  diameter="20"></mat-spinner>
   </section>
    <section class="col-12 d-flex flex-row justify-content-end align-items-center app-bg-secondary p-2">
      <ng-content></ng-content>
      <input type="button" class="btn btn-warning fw-lighter" [value]="this.isUpdateForm ? 'Update Project' : 'Create Project'" (click)="performOperation()"/>
    </section>

     <section *ngIf="statusMessage!==null" class="text-success">
       {{this.statusMessage}}
     </section>
</section>

