<app-app-container>
  <section class="rounded col-lg-3 col-md-5 col-sm-12 d-flex flex-column align-items-center justify-content-between border shadow app-centered-form py-1">
    <section class="d-flex flex-row justify-content-between w-100 border-bottom">
        <h3 class=" app-text fw-light">Login</h3>
        <h3 class="bi bi-box-arrow-in-left app-color-primary"></h3>
    </section>
    <p class="text-center text-secondary p-2 border-bottom app-bg-secondary">
      Enter your username and password to login. If you don't have an account but would like to register,
      you can <a href="/register">register here</a>.
    </p>
    <img src="/assets/pattern.png" class="app-brand-sm"/>

    <mat-form-field  class="w-75" appearance="fill">
      <mat-label>Username <i class="bi bi-person"></i></mat-label>
      <input [(ngModel)]="username"  matInput>
      <mat-hint>Enter your registered username.</mat-hint>
    </mat-form-field>
    <mat-form-field class="w-75" appearance="fill">
      <mat-label>Password <i class="bi bi-lock"></i></mat-label>
      <input type="password" [(ngModel)]="password"  matInput>
      <mat-hint>Enter your password.</mat-hint>
    </mat-form-field>
    <section>
      <input class="btn btn-outline-warning"  value="Login">
    </section>
  </section>
</app-app-container>
