.landing {
  background: rgb(231,225,231);
  background: linear-gradient(90deg, rgba(231,225,231,1) 0%, rgba(255,255,246,1) 100%);
  min-height: 100vh;
}

.title {
  font-size: 5em;
  font-weight: lighter;
}

.blurb {
  border-bottom: 1px solid gray;
}
