/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


.app-brand-sm {
  height: 90px;
  width: auto;
}
.app-centered-form{
  min-height: 75vh !important;
}

.app-color-primary {
  color: #240469;
}
.app-bg-secondary{
  background-color: #d9d9d9 !important;
}

.app-text {
  color: #3e0c70;
}

html, body { height: 100%; font-weight: lighter !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:#4d4c4c; font-weight: lighter !important; }
.body-styling {
  background: rgb(231,225,231);
  background: linear-gradient(90deg, rgba(231,225,231,1) 0%, rgba(255,255,246,1) 100%);
  min-height: 100vh;
}
